<div class="calendar">
    <div class="calendarDay">Reunión Sabado: 
        <div class="calendarHour">6:00 pm</div>
    </div>
    <div class="calendarDay">Reunión Domingo: 
        <div class="calendarHour">7:00 am</div>
    </div>
    <div class="calendarDay">Reunión Domingo: 
        <div class="calendarHour">9:00 am</div> 
    </div>
    <div class="calendarDay">Reunión Domingo: 
        <div class="calendarHour">11:00 pm</div>
    </div>
    <div class="calendarDay">Reunión Domingo: 
        <div class="calendarHour">5:00 pm</div> 
    </div>
</div>
