<div class="calendarWeb">
    
    <div class="containerCalendar">
        <div class="calendarDay">Reunión Sabado:</div>
        <div class="calendarHour">6:00 pm</div>
    </div>
    <div class="containerCalendar">
        <div class="calendarDay">Reunión Domingo:</div>
        <div class="calendarHour">6:00 pm</div>
    </div>
    <div class="containerCalendar">
        <div class="calendarDay">Reunión miercoles:</div>
        <div class="calendarHour">6:00 pm</div>
    </div>
    <div class="containerCalendar">
        <div class="calendarDay">Reunión Sabado:</div>
        <div class="calendarHour">6:00 pm</div>
    </div>
    <div class="containerCalendar">
        <div class="calendarDay">Reunión Sabado:</div>
        <div class="calendarHour">6:00 pm</div>
    </div>
</div>
