.calendarMobile{
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    font-family: SequelSans;
    gap: 5px;
    
}
.calendarDay{
    display: flex;
    font-weight: 600;
}

.calendarHour{
    display: flex;
    margin-left: 6px;
    font-weight: 400;
}

.containerCalendar{
    display: flex;
}
