<div class="card">
    <div class="imgCard"><img src="../../assets/img/events/jovenes.jpeg" /></div>
    <div class="titleCard">
        Reunion Jovenes - Rocas
    </div>
    <div class="parrafo">
        Un texto es una composición 
        de signos codificados en un sistema de escritura 
        que forma una unidad de sentido. También es
        una composición de caracteres.
    </div>
    <div class="containerSubTitle">
        <div class="subTitle">
        ¿Quieres visitarnos?Estos 
        son nuestro horarios:
        </div>
    </div>

    <div class="calendarSingle">
        <event-calendar-single></event-calendar-single>
    </div>
    
    <div class="responsiveCard">
        <event-calendar-mobile></event-calendar-mobile>
        <event-calendar-web></event-calendar-web>
    </div>
</div>
